{% extends "layout.njk" %}

{% block tituloPage%}
    <title>Cadastro de Professores</title>
{% endblock%}

{% block content%}
    <form class="card" method="POST" action="/teachers">
        <section class="imagem"></section>
        <section class="detalhes">
            <div class="title">
                <h3>Cadastrar Professor</h3>
            </div>

            {% include 'teachers/fields.njk' %}
        </section>
    </form>
{% endblock %}