<!-- Página para mostrar dados de um professor -->
{% extends "layout.njk" %}

{% block head %}
    <title>Professor</title>
{% endblock %}

{% block content %}

    <form class="card" method='POST' action='/teachers'>
        <section class ='avatar' style='background:url({{ professor.avatar_url }}) no-repeat center center / cover'></section>
        <section class="details">
            <h3>Professor</h3>
            <!-- Nome -->
            <div class="item">
                <div>Nome Completo</div>
                <div>
                    {{ professor.name }}
                </div>
            </div>

            <!-- Data de nascimento -->
            <div class="item">
                <div>Idade</div>
                <div>
                    {{ professor.data_nasc }}
                </div>
            </div>

            <!-- Grau de Escolaridade -->
            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>
                    {{ professor.escolaridade }}
                </div>
            </div>

            <!-- Tipo de aula -->
            <div class="item">
                <div>Tipo de aula</div>
                <div>    
                    <span>
                        <input 
                            type="radio" 
                            name='aula' 
                            value="presencial" 
                            {% if professor.aula == 'presencial' %}
                                checked
                            {% endif %}
                        >Presencial
                    </span>
                    <span>
                        <input 
                            type="radio" 
                            name='aula' 
                            value="distancia"
                            {% if professor.aula == 'distancia' %}
                                checked
                            {% endif %}
                        >À distância
                    </span>
                </div>
            </div>

            <!-- Área de atuação -->
            <div class="item">
                <div>Área de atuação</div>
                <div>
                    {% for a in professor.area %}
                        <span>{{ a }}</span>
                    {% endfor %}
                </div>
            </div>
            
            <!-- Desde 
            <div class="item">
                <div>Desde</div>
                <div>
                    {{ professor.created_at }}
                </div>
            </div> -->

            <!-- Botão -->
            <a class='button' href='/teachers/{{professor.id}}/edit'>Editar</a>
            
        </section>
    </form>

{% endblock %}