<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block titulo %}
            <title>Rocketseat</title>
        {% endblock %}
        <link rel="icon" href="favicon.png" type="image/x-icon" />
        <link rel='stylesheet' href ='/styles.css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        
        
    </head>

    <body>
        <header>
            <div class='links'>
                <a href='/'>Início</a>
                <a href='https://discordapp.com/invite/gCRAFhc'>Comunidade</a>
                <a href ='mailto:oi@rocketseat.com.br'>Email</a>
                <a href='tel:+5547992078767'>Telefone</a>
                <a href='/sobre'>Sobre</a>
                <a href='/conteudos'>Conteúdos</a>
            <div>
        </header>

        {% block contentsobre %}<div></div>{% endblock %}
    </body>
</html>