@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

/* STYLE PADRÃO */

:root{
    --color-gray: rgb(194, 194, 194);
    --color-background: #121214;
    --color-background-secundary: #08080f;
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

/* BODY */

body{
    background: var(--color-background);
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
    background-color: var(--color-background-secundary);
    width: 100%;
    padding: 32px;
    
    border-bottom: 1px solid rgba(220, 224, 224, 0.2);
    text-align: center;
    box-sizing: border-box;
}
    
.headerLinks a{
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: var(--color-gray);

    position: relative;
}

.headerLinks .teacher.active{
    font-weight: bold;
}

.headerLinks a + a {
    margin-left: 32px;
}

.headerLinks a::after{
    content: "";
    height: 1px;
    width: 0;

    background-color: rgba(255, 255, 255, 0.76);
    position: absolute;
    left: 0;
    bottom: -2px;
}

.headerLinks a:hover::after{
    width: 100%;
    background-color: #641dd6d8;
    transition: all 400ms ease-out 200ms;
}

/* === CARD === */
.card{
    background-color: var(--color-background-secundary);
    width: 60rem;
    min-height: 32rem;

    margin: 4% auto;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 2px 2px 8px -2px rgba(59, 59, 59, 0.2);

    animation: up 700ms ease-in-out;
}

.card .imagem{
    background: url(https://source.unsplash.com/collection/489203/500x550) no-repeat center center / cover;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
        
    }
    to {
        opacity: 1;
        
    }
}

.card .detalhes{
    padding: 32px;
    color: var(--color-gray);
    
}

.card .detalhes .title{
    text-align: center;
    font-size: 24px;
}


.detalhes .item{
    border-top: 1px solid rgba(56, 55, 55, 0.1);
    padding: 16px 0;
}

.detalhes .item:first-child,
.detalhes .item.one{
    border: none;
}

.detalhes .item div:nth-child(1){
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 2%;
    font-weight: bold;
    color: rgb(144, 144, 144);
}

.detalhes .item div:nth-child(2){
    font-size: 16px;
    line-height: 18px;
    color: rgb(144, 144, 144);
}

.detalhes .item:last-child div:nth-child(2){
    font-size: 15.5px;
    line-height: 18px;
    color: rgb(173, 173, 173);
    font-weight: bold;

    background-color: var(--color-background);
    padding: 8px 12px;
    border-radius: 14px;

    display: inline-block;
    margin-top: 8px;
}