{% extends "layout.njk" %}

{% block titulo %}
    <title>Sobre</title>
{% endblock %}

{% block contentsobre %}
    <div class='center'>
        
        <img src='https://pbs.twimg.com/profile_images/1271517147349626881/Mf1UjRa0.jpg' alt='Rocketeseat'>
        <h1>Rocketeseat<h1>
        <p>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</p>
    </div>
    <div class = 'text'>
        <h2>Principais Tecnologias</h2>
        <ul>
            <div class='links'>
                <li><a href='https://developer.mozilla.org/pt-BR/docs/Web/JavaScript' target='blank'>JavaScript</a></li>
                <li><a href='https://developer.mozilla.org/pt-BR/docs/Web/HTML' target='_blank'>HTML</a></li>
                <li><a href='https://developer.mozilla.org/pt-BR/docs/Web/CSS' target='_blank'>CSS</a></li>
            </div>
        </ul>
        
    </div>
    <div class='links'>
        <footer>
            <a href='https://github.com/Rocketseat' target='_blank'>GitHub</a>
            <a href ='https://www.instagram.com/rocketseat_oficial/?hl=pt-br' target='_blank'>Instagram</a>
            <a href='https://www.facebook.com/rocketseat' target='_blank'>Facebook</a>

        </footer>

    </div>
{% endblock %}
