{% extends "layout.njk" %}

{% block tituloPage %}
    <title>Cursos</title>
{% endblock %}

{% block content%}
    <div class="cards">
        {% for item in ItensCursos %}
            <div class="card" id='{{item.id}}'>
                <img src="{{item.src_img}}" alt="{{item.titulo}}" class="img-card">
                <div class="texto-card">
                    <p class="titulo-post">{{item.titulo}}</p>
                    <p class="autor-post">por <strong>{{item.autor}}</strong></p>
                    <p class="tempo-post">{{item.tempo}}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <!--div class="modal-overlay">
        <div class="modal maximize-active">
            <span class="icons">
                <span class="material-icons" id='maximize'>maximize</span>
                <span class="material-icons" id='close'>close</span>
            </span>
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div**--->

    <script src="/scripts.js"></script>
{% endblock %}
