{% extends "layout.njk" %}

{% block tituloPage%}
    <title>Cadastro de Estudante</title>
{% endblock%}

{% block content%}
    <form class="card" method="POST" action="/students">
        <section class="imagem"></section>
        <section class="detalhes">
            <div class="title">
                <h3>Cadastrar Estudante</h3>
            </div>

            {% include 'students/fields.njk' %}
        </section>
    </form>
{% endblock %}