{% extends "layout.njk" %}

{% block tituloPage%}
    <title>Edição de Professores</title>
{% endblock%}

{% block content%}
<div class="card">
    <section class="imagem"></section>
    
    <section class="detalhes">
        <div class="title">
            <h3>Editar Professor</h3>
        </div>
        <form method="POST" action="/teachers?_method=PUT">
            <input type="hidden" name="id" value={{teacher.id}}>
            {% include 'teachers/fields.njk' %}
        </form>    
        <form class="include" method="POST" action="/teachers?_method=DELETE">
            <input type="hidden" name="id" value={{teacher.id}}>
                <button id="button-delete" type="submit">Deletar</button>
            </span>
        </form>
    </section>
</div>
{% endblock %}