{% extends "layout.njk" %}

{% block tituloPage%}
    <title>Teachers</title>
{% endblock%}

{% block content%}
    <div class="card" >
        <section class="imagem"></section>
        <section class="detalhes">
            <div class="title">
                <h3>Detalhes</h3>
            </div>

            <div class="item one">
                <div>Nome completo</div>
                <div>{{teacher.name}}</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>{{teacher.age}}</div>
            </div>
            <div class="item">    
                <div>Grau de escolaridade</div>
                <div>{{teacher.education}}</div>
            </div>
            <div class="item">    
                <div>Tipo de aula</div>
                <div>{{teacher.typeClass}}</div>
            </div>
            <div class="item">    
                <div>Acompanhamento</div>
                <div>
                    {% for area in teacher.area %}
                        <span>{{area}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="item">    
                <div>Desde</div>
                <div>{{teacher.created_at}}</div>
            </div>

            <a class="button" href="/teachers/{{teacher.id}}/edit">Editar</a>
        </section>
    </div>
{% endblock %}