{% extends "layout.njk" %}

{% block head %}
    <title>Teachers</title>
{% endblock %}

{% block content %}

    <div class="card">
        <section style='background:url("https://source.unsplash.com/collection/10553730/500x500") no-repeat center center / cover'></section>
        <div class="details">
            <h3>Teacher</h3>

            <div class="item">
                <div>Nome Completo</div>
                <div>Marinete Moura Gomes</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>51</div>
            </div>

            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>Graduação</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>Presencial</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Linguagens</span>
                    <span>Matemática</span>
                    <span>Ciências</span>
                </div>
            </div>
            
            <div class="item">
                <label>Desde</label>
                <label>04/06/2020</label>
            </div>

        </div>
    </div>

{% endblock %}