{% extends "layout.njk" %}

{% block tituloPage%}
    <title>Sobre</title>
{% endblock%}

{% block content%}
    <div class="info-sobre">
        <h1 class='name'>Rocketseat</h1>
        <p class="descricao">A Rocketseat é uma plataforma de educação em tecnologia onde você encontra tudo o que precisa para progredir na programação e alcançar seus objetivos no menor tempo possível.</p>
    </div>

    <div class="content">
        <img alt="Js" src="/assets/foguete.png">
        <div class="card-content">
            <p class="titulo-card">O aprendizado é contínuo e sempre haverá um próximo nível.</p>
            <p class="paragrafo-card"> Diversas aulas para você aprender programação do zero, com foco em desenvolvimento web. Você vai encontrar aulas para dominar as tecnologias:</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
        
            <div class="links-footer">
                <a href=""><img src="/assets/github.png" alt="GitHub"></a>
                <a href=""><img src="/assets/instagram.png" alt="Instagram"></a>
                <a href=""><img src="/assets/facebook.png" alt="facebook"></a>
            </div>
        </div>
    </div>
{% endblock %}