{% extends "layout.njk" %}

{% block tituloPage%}
    <title>PAGE NOT FOUND</title>
{% endblock%}

{% block content%}
    <div class="info-sobre">
        <h1 class='name'>Rocketseat</h1>
    </div>

    <div class="content">
        <img alt="Js" src="/assets/foguete.png">
        <div class="card-content">
            <p class="titulo-card">Página não encontrada </p>
            <p class="paragrafo-card"> A página que você tentou acessar está indisponível ou não existe.</p>
        </div>
    </div>
{% endblock %}