{% extends "layout.njk" %}

{% block head %}
    <title>Cadastrar Professor(a)</title>
{% endblock %}

{% block content %}

    <form class="card" method='POST' action='/teachers'>
        <section class ='avatar' style='background:url("https://source.unsplash.com/collection/10553730/500x500") no-repeat center center / cover'></section>
        <section class="details">
            <h3>Novo Professor</h3>

            <!-- Avatar_url -->
            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input type="url" name="avatar_url" placeholder='https://'>
                </div>
            </div>

            <!-- Nome -->
            <div class="item">
                <div>Nome Completo</div>
                <div>
                    <input type="text" name="name" placeholder='Nome'>
                </div>
            </div>

            <!-- Data de nascimento -->
            <div class="item">
                <div>Data de nascimento</div>
                <div>
                    <input type="date" name="data_nasc">
                </div>
            </div>

            <!-- Grau de Escolaridade -->
            <div class="item">
                <div>Grau de Escolaridade</div>
                <select name="escolaridade">
                    <option name="escolaridade">Ensino Médio Completo</option>
                    <option name="escolaridade">Ensino Superior Completo</option>
                    <option name="escolaridade">Mestrado</option> 
                    <option name="escolaridade">Doutorado</option>
                </select>
            </div>

            <!-- Tipo de aula -->
            <div class="item">
                <div>Tipo de aula</div>
                <div>
                    <span><input type="radio" name='aula' value="presencial" checked>Presencial</span>
                    <span><input type="radio" name='aula' value="distancia">À distância</span>
                </div>
            </div>

            <!-- Área de atuação -->
            <div class="item">
                <div>Área de atuação</div>
                <div>
                    <input type="text" name="area" placeholder='Coloque as matérias separadas por vírgula'>    
                </div>
            </div>
            
            <!-- Botão -->
            <button type="submit">Salvar</button>
        </section>
    </form>

{% endblock %}